/*
#E7004C PINK
#0788e4 BLUE
#041E42 DARK BLUE
#363636 DARK GRAY

font-family: 'Manrope', sans-serif;

<a href='https://www.freepik.com/vectors/people'>People vector created by pch.vector - www.freepik.com</a>
<a href='https://www.freepik.com/vectors/business'>Business vector created by stories - www.freepik.com</a>
<a href='https://www.freepik.com/vectors/infographic'>Infographic vector created by vectorjuice - www.freepik.com</a>

*/

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    image-rendering: optimizeQuality;

}

body {
    background: #F8F9FA;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 90px;

}

.men a{
    color: #363636;
}

.contact a{
    color: #fff;
    background-color: #363636;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;

}


.logo {
    width: 74px;
    height: 90px;
    background-image: url(img/MZN_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 140px;
    color: #adb5bd;
    font-weight: 400;
    font-size: 20px;
}

.men{
    margin-left: 80px;
}

.hero-img {
    height: 80vh;
    width: 55%;
    position: absolute;
    bottom: -2px;
    right: 0;
    background: url(img/8244.png);
    background-repeat: no-repeat;
    filter: saturate(var(--value, 2.2));
    background-size: cover;
    background-position: left;
    z-index: -10;
}


.headline {
    width: 40vw;
    position: absolute;
    top: 38%;
    /* transform: translateY(-55%); */
    display: flex;
    flex-direction: column;

}

.headline h1 {
    color: #363636;
    font-size: 3rem;
    margin-bottom: 30px;
    letter-spacing: -0.03rem;
    line-height: 1.2;
}

.headline p {
    color: #adb5bd;
    font-weight: 400;
    font-size: 20px;
}

.social{
    margin-left: 20px;
}

.fab{
    font-size: 30px;
}

.face i:hover{
    color: rgb(37, 44, 105);
}

.ig i:hover{
    color: rgb(105, 37, 105);
}

.learn-more {
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}



.arrow {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: keys .8s ease-in-out infinite alternate-reverse;
}

.arrow i {
    font-size: 2.4rem;

}

@keyframes keys {
    from {
        bottom: 20px;
    }

    to {
        bottom: 10px;
        color: #041E42;
    }
}

/****************************************************/
/* NEW SECTION */
/****************************************************/

.cont-main {
    width: 100%;
    padding: 80px 90px;
}

.hl1 {
    margin-bottom: 110px;
}

.hl1,
.hl2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hl1-img img,
.hl2-img img {
    width: 80%;
}

.hl1-text h2,
.hl2-text h2 {
    color: #363636;
    font-size: 1.8rem;
    margin-bottom: 30px;
    letter-spacing: -0.03rem;
    line-height: 1.2;
}

.hl1-text p,
.hl2-text p {
    color: #63686d;
    font-weight: 400;
    font-size: 20px;
    width: 550px;
    margin-bottom: 10px;
}

/****************************************************/
/* NEW SECTION */
/****************************************************/

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

strong {
    color: #E7004C;
}

.serv-sec {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1,
.box2,
.box3 {
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 330px;
    height: 486px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 11px rgba(0, 0, 0, 0.082);
    transition: all 0.4s;
}

.box1:hover,
.box2:hover,
.box3:hover {
    transform: translateY(3px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.301);
}

.box-title {
    font-size: 1.4rem;
    text-align: center;
    color: #495057;
    margin-bottom: 20px;
}

.box1-cont,
.box2-cont,
.box3-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-img {
    width: 200px;
    height: auto;
}

.box-para {
    color: #63686d;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

/****************************************************/
/* NEW SECTION */
/****************************************************/

#contact-us {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(#041e42e7, #041e42f3), url(img/pexels-burst-374870.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    color: #fff;
    line-height: 1.5;
}

.contact-btn {
    width: 280px;
    height: 60px;
    background-color: #E7004C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.274);
    transition: all 0.4s;
}

.contact-btn:hover {
    background-color: #b6003d;
    transform: translateY(3px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.301);
}


.cont-text {
    width: 55%;
    padding-right: 120px;

}

.cont-text h2 {
    font-size: 2.1rem;
}

.cont-text h2,
.cont-text p {
    margin-bottom: 20px;
}


/****************************************************/
/* FOOTER */
/****************************************************/

footer {
    background-color: #111111;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*########## MOBILE ############### */

@media screen and (max-width: 768px) {


    body {
        overflow-x: hidden;
    }

    .container {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    .menu {
        width: 100vw;
        padding: 40px 20px;
        height: 120px;
        font-weight: 400;
        font-size: 20px;
        color: #363636;
    }

    .logo {
        width: 74px;
        height: 90px;
        background-image: url(img/MZN_logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 20px;
    }

    .headline {
        padding: 0 40px;
        width: 90vw;
        position: absolute;
        top: 38%;
        /* transform: translateY(-55%); */
        display: flex;
        flex-direction: column;

    }

    .headline h1 {
        color: #363636;
        font-size: 2rem;
        margin-bottom: 30px;
        letter-spacing: -0.03rem;
        line-height: 1.2;
    }

    .headline p {
        color: #454a50;
        font-weight: 400;
        font-size: 20px;
    }


    .hero-img {
        height: 80vh;
        width: 55%;
        position: absolute;
        bottom: -2px;
        right: 0;
        background: url(img/8244.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        z-index: -10;
        opacity: 40%;
    }

    .hl1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 30px;
    }

    .hl2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 30px;
    }

    .hl1-img img,
    .hl2-img img {
        width: 120%;
        margin-bottom: 40px;
    }

    .hl1-text h2,
    .hl2-text h2 {
        color: #363636;
        font-size: 1.8rem;
        margin-bottom: 30px;
        letter-spacing: -0.03rem;
        line-height: 1.2;
        text-align: center;
    }

    .hl1-text p,
    .hl2-text p {
        color: #63686d;
        font-weight: 400;
        font-size: 20px;
        width: 350px;
        text-align: center;
        margin-bottom: 20px;
    }

    .services {
        display: none;
    }

    .contact-us {
        width: 100%;
        height: 100vh;
        background-color: #041E42;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 120px;
    }

    .contact-btn {
        width: 220px;
        height: 50px;
        margin-top: 10px;
    }

    .cont{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cont-text{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 40px;
        margin: 0;
    }
    
    .cont-text h2 {
        font-size: 1.9rem;
    }
    
    .cont-text h2,
    .cont-text p {
        margin-bottom: 20px;
    }


}