@media only screen and (max-width: 680px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.534),
        rgba(0, 0, 0, 0.877)
      ),
      url(/pexels-quang-nguyen-vinh-3355788.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    position: relative;
  }

  .title {
    margin-bottom: 30px;
  }

  .title h1,
  p,
  h3 {
    color: white;
  }

  .counter {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid rgba(255, 255, 255, 0.486);
    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: 10px 0;
  }

  .reset {
    cursor: pointer;
    width: 180px;
    height: 50px;
    background-color: tomato;
    border-radius: 5px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .total {
    font-style: italic;
    font-size: 20px;
    width: 250px;
    text-align: center;
  }

  .ads {
    width: 320px;
    height: 50px;
    background-color: black;
    /* position: absolute;
    bottom: 30px; */
  }
}
